{{ if eq .Site.Params.theme_switch "true" }}
<script>{{ partialCached "js/theme.min.js" .  | safeJS }}</script>{{ end }}
{{- partial "head/style.html" . -}}
<link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/svg+xml">
<link rel="apple-touch-icon" href="{{ "icon.png" | relURL }}" sizes="180x180" type="image/png">
<link rel="mask-icon" href="{{ "icon.svg" | relURL }}" color="#ff7f50">
<link rel="manifest" href="{{ "manifest.json" | relURL }}" crossorigin="use-credentials">
<meta name="theme-color" content="#16191d">