//  ------------------------------------------------------------
//  Icons
//  ------------------------------------------------------------

// Branding
$logo:          url("data:image/svg+xml,<svg viewBox='0 0 192 192' fill='currentColor' xmlns='http://www.w3.org/2000/svg'><path d='m12 36s0-24 24-24h132s12 0 12 12-12 12-12 12h-120s-12 0-12 12 12 12 12 12h108s24 0 24 24v24s0 24-24 24h-108s-12 0-12 12 12 12 12 12h120s12 0 12 12-12 12-12 12h-132s-24 0-24-24v-24s0-24 24-24h108s12 0 12-12-12-12-12-12h-108s-24 0-24-24v-24z'/></svg>");


// Map
$site-icons: (
  "logo": $logo,
) !default;

@if $enable-site-icons {

:where(html) { 
  @each $site-icons, $value in $site-icons {
    --#{$site-icons}: #{$value};
  }
}

@each $site-icons, $value in $site-icons {
.#{$site-icons} {
  --svg: var(--#{$site-icons});        
  }
}

} // END [@if]