//  ------------------------------------------------------------
//  Page
//  ------------------------------------------------------------

@if $enable-site-page {

body {
  margin-inline: auto;
  max-inline-size: h.$max-page-width;
  padding: 1rem;
}

// Breakpoints

@media (max-width: h.$breakpoint-xl) {

}

@media (max-width: h.$breakpoint-lg) {

}

@media (max-width: h.$breakpoint-md) {

}

@media (max-width: h.$breakpoint-sm) {

}

} // END [@if]