//  ------------------------------------------------------------
//  Page
//  ------------------------------------------------------------

$page-width:        50rem;
$breakpoint-xl:     1401px;
$breakpoint-lg:     1025px;
$breakpoint-md:     801px;
$breakpoint-sm:     480px;

@if $enable-site-page {

body {
  margin-inline: auto;
  max-inline-size: #{$page-width};
  padding: 1rem;
}

// Breakpoints

@media (max-width: #{$breakpoint-xl}) {

}

@media (max-width: #{$breakpoint-lg}) {

}

@media (max-width: #{$breakpoint-md}) {

}

@media (max-width: #{$breakpoint-sm}) {

}

} // END [@if]